[*.cs]
## XML Documentation headers
dotnet_diagnostic.classdocumentationheader.severity = none # XML documentation header for class - use in apps and tests
dotnet_diagnostic.interfacedocumentationheader.severity = none
dotnet_diagnostic.methoddocumentationheader.severity = none
dotnet_diagnostic.propertydocumentationheader.severity = none
dotnet_analyzer_diagnostic.category-documentationheader.severity = none
dotnet_analyzer_diagnostic.category-Documentation.severity = none
dotnet_diagnostic.cs1573.severity = none # Parameter 'parameter' has no matching param tag in the XML comment on 'member' (but other parameters do)
dotnet_diagnostic.cs1591.severity = none # Missing XML comment for publicly visible type or member 'Type_or_Member'
dotnet_diagnostic.cs1712.severity = none # Type parameter 'type parameter' has no matching typeparam tag in the XML comment on 'type' (but other type parameters do)

# Other settings
dotnet_diagnostic.ca1707.severity = none # Identifiers should not contain underscores
dotnet_diagnostic.ca1851.severity = none # Possible multiple enumerations of IEnumerable collection
# TODO: Validate if cs1957 is still relevant
dotnet_diagnostic.cs1957.severity = suggestion # Member 'name' overrides 'method'. There are multiple override candidates at run-time. It is implementation dependent which method will be called.

# Nullability
dotnet_diagnostic.cs8600.severity = suggestion # Converting null literal or possible null value to non-nullable type.
## In other project there was: dotnet_diagnostic.cs8600.severity = none
dotnet_diagnostic.cs8603.severity = suggestion # Possible null reference return
dotnet_diagnostic.cs8604.severity = suggestion # Possible null reference argument for parameter.

dotnet_diagnostic.IDE0051.severity = warning # Remove unused private members
dotnet_diagnostic.IDE0052.severity = warning # Remove unused private members

# SonarAnalyzer settings
dotnet_diagnostic.s4487.severity = none # Unread "private" fields should be removed

# StyleCop settings
dotnet_diagnostic.sa0001.severity = none # XML comment analysis is disabled due to project configuration
dotnet_diagnostic.sa1402.severity = none # File may only contain a single type

# Naming rules
dotnet_naming_rule.method_rule.import_to_resharper = True
dotnet_naming_rule.method_rule.resharper_description = Methods
dotnet_naming_rule.method_rule.resharper_guid = 8284009d-e743-4d89-9402-a5bf9a89b657
dotnet_naming_rule.method_rule.resharper_style = AaBb_aaBb, AaBb
dotnet_naming_rule.method_rule.severity = warning
dotnet_naming_rule.method_rule.style = upper_camel_case_underscore_tolerant_style
dotnet_naming_rule.method_rule.symbols = method_symbols
dotnet_naming_rule.unity_serialized_field_rule.import_to_resharper = True
dotnet_naming_rule.unity_serialized_field_rule.resharper_description = Unity serialized field
dotnet_naming_rule.unity_serialized_field_rule.resharper_guid = 5f0fdb63-c892-4d2c-9324-15c80b22a7ef
dotnet_naming_rule.unity_serialized_field_rule.severity = warning
dotnet_naming_rule.unity_serialized_field_rule.style = lower_camel_case_style
dotnet_naming_rule.unity_serialized_field_rule.symbols = unity_serialized_field_symbols
dotnet_naming_style.lower_camel_case_style.capitalization = camel_case
dotnet_naming_style.upper_camel_case_underscore_tolerant_style.capitalization = first_word_upper
dotnet_naming_style.upper_camel_case_underscore_tolerant_style.word_separator = _
dotnet_naming_symbols.method_symbols.applicable_accessibilities = *
dotnet_naming_symbols.method_symbols.applicable_kinds = method
dotnet_naming_symbols.method_symbols.resharper_applicable_kinds = method
dotnet_naming_symbols.method_symbols.resharper_required_modifiers = any
dotnet_naming_symbols.unity_serialized_field_symbols.applicable_accessibilities = *
dotnet_naming_symbols.unity_serialized_field_symbols.applicable_kinds =
dotnet_naming_symbols.unity_serialized_field_symbols.resharper_applicable_kinds = unity_serialised_field
dotnet_naming_symbols.unity_serialized_field_symbols.resharper_required_modifiers = instance

resharper_lambda_expression_can_be_made_static_highlighting = none

resharper_possible_multiple_enumeration_highlighting = none
